<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459346943910-gcmisvebno3i5i6o5tr4rbufgfe4h5er.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459346943910-gcmisvebno3i5i6o5tr4rbufgfe4h5er</string>
	<key>API_KEY</key>
	<string>AIzaSyDIbk4ArHq0vunlOYE7Ybc8sI0mQ-bWVHM</string>
	<key>GCM_SENDER_ID</key>
	<string>459346943910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sidepanelFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mcx-final</string>
	<key>STORAGE_BUCKET</key>
	<string>mcx-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459346943910:ios:f2e77d1086a8d5d6a5f967</string>
</dict>
</plist>